@import "common/loader/main";

@mixin product-pane-loader() {
  @include loader;
}

@mixin product-pane() {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.247059) -1px 0px 2px 0px !important;
  height: 100%;
  position: fixed;
  right: 0;
  top: 50px;
  width: 700px;
  z-index: 2147483630;

  iframe {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
  }
}

@mixin product-pane-overlay() {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2147483629;
}

@mixin product-pane-close() {
  background: rgba(#ccc5c3, .8);
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 46px;
  position: fixed;
  right: 700px;
  text-align: center;
  top: 50px;
  width: 35px;
  z-index: 2147483631;

  path {
    fill: rgba(#534540, .5);
  }

  &:hover {
    background-color: #da552f;
    color: #fff;

    path { fill: #fff; }
  }
}
