@import "bourbon";
@import "../../common/product-pane/main";

// Variables

$bar-height: 50px;

// Declarations

.__phc-bar {
  background: #fff !important;
  border: 0 !important;
  bottom: auto !important;
  box-sizing: content-box !important;
  height: $bar-height !important;
  left: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: fixed !important;
  text-align: left !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 2147483630 !important;
}

.__phc-body {
  margin-top: $bar-height !important;
  position: absolute !important;
  width: 100% !important;
}

.__phc-pane { @include product-pane; }
.__phc-overlay { @include product-pane-overlay; }
.__phc-close { @include product-pane-close; }
.__phc-loader { @include product-pane-loader; }
.__phc-no-scroll { overflow: hidden !important; }
