@import "bourbon";

// Variables

$font-family:        'proxima-nova', 'Proxima Nova', sans-serif;
$orange:             #db552e;
$white:              #fff;
$close-width:        40px;
$close-margin-right: 10px;

// Declarations

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  color: #534540;
  cursor: pointer;
  font-family: $font-family;
  line-height: 50px;
  user-select: none;

  &:hover {
    background-color: #fcf5e3;
  }
}

.details {
  padding-right: $close-width + $close-margin-right;

  h1 {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-left: 10px;
  }

  h2 {
    -webkit-font-smoothing: antialiased;
    color: #999999;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
    text-rendering: optimizeLegibility;
  }

  float: left;

  a { cursor: pointer; }

  .votes {
    background-color: #edeceb;
    background-image: image-url("apps/content/assets/arrow_up.svg");
    background-position: 10px 47%;
    background-size: 9px;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0px 1px 0px 0px rgba(83, 69, 64, 0.3), 0px 1px 1px 0px rgba(black, 0.2);
    font-size: 14px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
    padding-right: 10px;
    margin-left: 10px;
  }

  .comments {
    -webkit-font-smoothing: antialiased;
    background-image: image-url("apps/content/assets/comment.svg");
    background-position: 10px 47%;
    background-size: 14px;
    background-repeat: no-repeat;
    color: #999999;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 14px;
    display: inline-block;
  }
}

.facebook {
  float: right;
  width: 62px;
  margin-right: $close-width + 10px;
  margin-top: 14px;

  iframe {
    border: none;
    overflow: hidden;
    height: 35px;
  }
}

.twitter {
  float: right;
  width: 65px;

  iframe {
    border: none;
    height: 20px;
    margin-top: 14px;
    overflow: hidden;
    width: 56px;
  }
}

.close {
  cursor: pointer;
  padding-top: 18px;
  position: fixed;
  color: #999999;
  right: $close-margin-right;
  text-align: center;
  width: $close-width;

  path { fill: #dddad9; }
}

.container {
  width: 100%;
  height: 50px;
}
