// Variables

// TODO(vesln): figure out how not to hardcore, likely envify-like solution
$extension-id:       'pinaciaaafilededpcmmpfeakplinncd';

$font-family:        'proxima-nova', 'Proxima Nova', sans-serif;
$orange:             #db552e;
$white:              #fff;
$close-width:        40px;
$close-margin-right: 20px;

// Mixins

@mixin box($margin-left) {
  background-color: #e27755;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
  margin-left: $margin-left;
  min-width: 30px;
  text-align: center;
  padding: 0 10px;
}

@mixin icon($img) {
  background-image: url("chrome-extension://#{$extension-id}/apps/content/assets/#{$img}.svg");
  background-position: center 49%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 28px;
  margin-right: 5px;
  padding-top: 3px;
  vertical-align: middle;
  width: 20px;
}

// Declarations

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $orange;
  color: $white;
  font-family: $font-family;
  line-height: 48px;
  user-select: none;
}

.details {
  padding-right: $close-width + $close-margin-right;

  h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-left: 20px;
  }

  h2 {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin-left: 20px;
    text-rendering: optimizeLegibility;
  }

  float: left;

  a { cursor: pointer; }

  .votes {
    @include box(10px);
    .ico { @include icon('arrow_up'); }
  }

  .comments {
    @include box(2px);
    .ico { @include icon('comment'); }
  }
}

.facebook {
  float: right;
  width: 56px;
  margin-right: $close-width + 10px;
  margin-top: 14px;

  iframe {
    border: none;
    overflow: hidden;
    height: 35px;
  }
}

.twitter {
  float: right;
  width: 65px;

  iframe {
    border: none;
    height: 20px;
    margin-top: 14px;
    overflow: hidden;
    width: 56px;
  }
}

.close {
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  right: $close-margin-right;
  text-align: center;
  width: $close-width;
}

