@import "bourbon";
@import "neat";
@import "common/screens/main";
@import "common/fonts/proxima-nova";

// Variables

$black:  #000000;
$white:  #ffffff;
$orange: #da552f;
$grey:   #999999;
$silver: #e8e8e8;

$radius: 3px;

// Definitions

html,
body {
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
  background: #f9f9f9;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

a { text-decoration: none; }

.clickable { cursor: pointer; }

.clear { @include clearfix; }

.featured {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .2px;
  line-height: 24px;
  color: $black;
}

.title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: $grey;
}

.main {
  @include clearfix;

  @include media(500px) {
    max-width: 320px;
  }

  @include media(670px) {
    max-width: 640px;
  }

  @include media(1000px) {
    max-width: 960px;
  }

  position: relative;
  margin: {
    left: auto;
    right: auto;
  }
}

.logo {
  @include transition(opacity, 0.2s, ease);
  position: absolute;
  top: 0px;
  left: -40px;
  height: 30px;
  width: 30px;
  opacity: 1.0;

  &:hover {
    opacity: 0.8;
  }

  img {
    width: 100%;
  }
}

.day {
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 1px solid $silver;

  .date {
    padding-top: 5px;
    float: right;
  }
}

.products {
  margin-left: -10px;
}

.product {
  @include transition(top, 0.1s, ease);
  @include transition(box-shadow, 0.2s, ease);
  background-color: $white;
  border-radius: $radius;
  border: 1px solid $silver;
  float: left;
  height: 305px;
  margin: {
    left: 10px;
    bottom: 10px;
  }
  width: 312px;
  position: relative;
  top: 0px;
  box-shadow: 0 1px 4px 0 #f9f9f9;

  &:hover {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.04);
    top: -2px;
  }

  .gallery {
    height: 200px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .tagline {
    color: $grey;
    height: 36px;
    margin-bottom: 5px;
  }

  .details {
    position: relative;
    border-top: 1px solid $silver;
    padding: 10px;
  }

  .info {
    text-align: right;
  }

  .topics {
    float: left;
    text-align: left;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .6px;
    line-height: 12px;
    text-transform: uppercase;
    color: $grey;
  }

  .topic {
    background: $silver;
    border-radius: $radius;
    color: $grey;
    padding: 3px 4px 1px;
    display: inline-block;

    & + .topic {
      margin-left: 5px;
    }
  }

  .votes {
    display: inline-block;
    background-image: url('assets/arrow_up.svg');
    background-position: 0px 3px;
    background-repeat: no-repeat;
    background-size: 11px;
    color: $grey;
    padding-left: 15px;
  }

  .comments {
    margin-left: 10px;
    display: inline-block;
    background-image: url('assets/comment.svg');
    background-position: 0px 3px;
    background-repeat: no-repeat;
    background-size: 10px 11px;
    color: $grey;
    padding-left: 15px;
  }
}


.loading {
  clear: both;
  color: $silver;
  padding: 20px;
  text-align: center;
}
