@import "bourbon";
@import "neat";
@import "common/screens/main";
@import "common/fonts/proxima-nova";

// Variables

$red:       #da552f;
$yellow:    #fcf5e2;
$brown-1:   #534540;
$brown-2:   #685f5c;
$grey-1:    #999999;
$grey-2:    #eceae9;
$grey-3:    #bbbbbb;
$grey-4:    #dddddd;
$grey-5:    #a9a29f;
$cream-1:   #d5d2d0;
$cream-2:   #a9a29f;

// Definitions

html,
body {
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
}

a { text-decoration: none; }

.clickable { cursor: pointer; }

.clear { @include clearfix; }

.main {
  @include clearfix;

  @include media(500px) {
    max-width: 320px;
  }

  @include media(670px) {
    max-width: 640px;
  }

  @include media(1000px) {
    max-width: 960px;
  }

  margin: {
    left: auto;
    right: auto;
  }
}

.header {
  $header-height: 30px;

  height: $header-height;
  margin: 15px 0;

  .logo {
    display: block;
    float: left;
    height: $header-height;
    width: $header-height;
    margin-right: 10px;
  }

  .title {
    float: left;
    color: $red;
    font-size: 20px;
    font-weight: bold;
    line-height: $header-height;
    margin: 0;

    @include medium-screen {
      margin-top: 10px;
    }

    @include small-screen {
      display: none;
    }
  }
}

.products {
  h2 {
    text-align: center;
    clear: both;
    color: $brown-1;
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0;

    .date {
      color: $grey-3;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .product {
    @include transition(background-color, 0.1s, ease);
    background-color: $grey-2;
    border-radius: 4px;
    float: left;
    height: 340px;
    margin: 10px;
    padding: 10px;
    width: 300px;

    &:hover {
      @include transition(background, 0.1s);
      background-color: $yellow;
    }

    .image {
      height: 196px;
      margin-bottom: 10px;
      width: 280px;

      img {
        height: 100%;
        width: 100%;

        &:hover {
          @include transition(opacity, 0.2s);
          opacity: 0.8;
        }
      }
    }

    .container { position: relative; }

    .votes {
      background-image: url('assets/arrow_up.svg');
      background-position: center 2px;
      background-repeat: no-repeat;
      border-radius: 3px;
      color: $brown-1;
      font-size: 13px;
      height: 44px;
      left: 0;
      margin-right: 10px;
      padding-top: 23px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 33px;
    }

    .details {
      margin-left: 44px;
      margin-right: 10px;

      a:hover {
        @include transition(opacity, 0.2s);
        text-decoration: underline;
        opacity: 0.8;
      }
    }

    .comments {
      background-image: url('assets/comment.svg');
      background-repeat: no-repeat;
      color: $cream-2;
      height: 20px;
      min-width: 30px;
      padding-left: 20px;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;

      &:hover {
        background-image: url('assets/comment_hover.svg');
        color: $red;
      }
    }

    h3 {
      color: $brown-1;
      font-size: 16px;
      margin: 0 23px 5px 0;
      padding: 0;
    }

    p {
      color: $brown-2;
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
  }
}

.loading {
  clear: both;
  color: $grey-4;
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
  text-align: center;
}
