@import "bourbon";
@import "common/header/main";
@import "common/fonts/proxima-nova";

// Definitions

html,
body {
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
  font-size: 13.3333px;
}

header {
  @include main-header();
}

h1 {
  color: #534540;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  margin: 41px 0 20px 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flash {
  @include transition(opacity .25s ease-in-out);
  opacity: 1;
  background: #00b27f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  z-index: 90000;

  &.hidden { opacity: 0; }
}

.notice {
  font-size: 16px;
  background: #fcf5e2;
  border-radius: 5px;
  line-height: 36px;
  margin: 20px 0 30px;
  min-height: 36px;
  padding: 19px 54px 19px 20px;
}
