@import "common/screens/main";

@mixin main-header() {
  height: 40px;

  margin: {
    top: 15px;
    bottom: 15px;
  }

  a { text-decoration: none; }

  .logo {
    display: block;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
  }

  .title { float: left; }

  h1 {
    color: #da552f;;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin: 0;

    @include medium-screen {
      margin-top: 10px;
    }

    @include small-screen {
      display: none;
    }
  }

  h2 {
    color: #999999;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;

    @include medium-screen {
      display: none;
    }

    @include small-screen {
      display: none;
    }
  }
}
