@import "bourbon";
@import "common/loader/main";

// Variables

$width:  400px;
$height: 500px;

// Definitions

body {
  margin: 0;
  padding: 0;
}

body,
iframe {
  width: $width;
  height: $height;
}

iframe {
  border: none;
}

.loader {
  @include loader;
}

.hidden {
  display: none;
}
