@import "bourbon";
@import "common/loader/main";

// Variables

$width:  550px;
$height: 650px;

// Definitions

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
}

body,
iframe {
  width: $width;
  height: $height;
}

iframe {
  border: none;
}

.loader {
  @include loader;
}

header {
  background: #534540;
  color: #C4BFBD;
  height: 54px;
  line-height: 54px;

  ul {
    list-style: none;

    li {
      cursor: pointer;
      font-size: 16px;
      float: left;
      text-align: center;
      width: 50%;

      &:hover, &.current {
        background: #fff;
      }
    }
  }
}
